* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.calculator-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  background-color: rgb(202, 202, 202);
}

p {
  width: 100%;
  text-align: end;
  padding: 1rem 0.5rem;
  background-color: #8c959f;
  color: white;
}

button {
  width: 25%;
  padding: 1rem;
  background: transparent;
  border: 1px solid rgb(202, 202, 202);
  background-color: #ebedf0;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.last-col {
  background-color: #fe9600;
}

.zero {
  width: 50%;
}

@media screen and (min-width: 321px) {
  .calculator-container {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .calculator-container {
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .calculator-container {
    width: 30%;
  }
}

@media screen and (min-width: 1600px) {
  .calculator-container {
    width: 20%;
  }
}